<div class="col-md-4 col-md-offset-4">
  <br>
    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sign Up</h3>
    </div>
    <div class="panel-body">
      <%= form_for @user, html: { multipart: true } do |f| %>
        <div class="form-field">
          <%= f.label :profile_picture %>
          <%= f.file_field :image %>
        </div>
        <div class="form-field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, required: true, class: "fname", placeholder: "First Name" %>
        </div>
        <div class="form-field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, required: true, class: "lname", placeholder: "Last Name" %>
        </div>
        <div class="form-field">
          <%= f.label :email %>
          <%= f.text_field :email, required: true, class: "email", placeholder: "Email" %>
        </div>
        <div class="form-field reset-link">
          <%= link_to "Reset Password", password_path(@user) %>
        </div>
        <%= f.submit "Update" %>
      <% end %>
    </div>
  </div>
</div>
