Update User

<%= form_for @user, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :current_city, placeholder: "Current City" %>
  </div>
  <%= f.submit "Update" %>
<% end %>
