<div class="container-user-show container">
    <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
    </div>
    <% end %>
    <div class="col-md-12">
        <div class="row" class="profile-row">
            <div class="pull-right profile-container">
              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-5 col-md-offset-2 col-xs-12 user-show-profile-pic">
                    <%= image_tag @user.image, class: "img-responsive" %>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h1 class="user-show-profile-info profile-name">
                        <%= @user.first_name %>
                        <%= @user.last_name %>
                    </h1>
                    <h3 class="user-show-profile-info">
                        <%= @user.email %>
                    </h3>
                    <h3 class="user-show-profile-info">
                        <%= @user.current_city %>
                    </h3>
                    <h4 class="user-show-profile-info">
                        Joined on:
                        <%= @user.created_at.strftime("%m/%d/%Y") %>
                    </h4>
                    <% if @user == current_user %>
                    <div class="user-show-profile-info">
                        <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
                    </div>
                    <% end %>
                </div>
              </div>
            </div>
        </div>

        <div class="user-show-user-posts-header">
            <h2><%= @user.first_name %>'s Posts:</h2>
        </div>
        <%= paginate @posts %>
        <% @posts.each do |p| %>
          <div class="user-post-container container">
              <div class="panel panel-default">
                  <div class="panel panel-body">
                      <div class="row">
                          <div class="col-md-4">
                              <%= link_to image_tag(p.city.city_picture), city_path(p.city), class: "city-image img-responsive" %>
                          </div>
                          <div class="col-md-8">
                              <div class="user-show-post-header-row">
                                  <h3 class="user-show-post-title"><%= p.title %></h3>
                                  <h4 class="pull-right user-show-post-date"><small>posted <%= time_ago_in_words(p.created_at) %> ago</small></h4>
                              </div>
                              <div>
                                  <p><%= h truncate(p.content, :length => 1000) %>
                                    <% if p.content.length > 1000 %>
                                      <%= link_to "Read More", city_post_path(p.city, p) %></p>
                                    <% end %>
                              </div>
                          </div>
                      </div>
                  </div>
                  <% if @user == current_user %>
                  <div class="panel-footer">
                      <div class="row">
                          <a class="user-show-post-button pull-right btn btn-primary" href="/cities/<%=p.city.id%>/posts/<%=p.id%>/edit">Edit</a>
                          <%= link_to "Delete", city_post_path(p.city.id, p), method: :delete, class: "user-show-post-button pull-right btn btn-default btn-danger"%>
                      </div>
                  </div>
                  <% end %>
              </div>
          </div>
        <% end %>
        <%= paginate @posts %>
    </div>
</div>
