
<div class="post-show-container container">
  <div class="row">
      <h1><%=@post.title%></h1>
      <h4>Posted In: <%= link_to "#{@city.city_name}", city_path(@city) %></h4>
      <div class="post-show-city-picture row col-md-2 col-sm-2 col-xs-4"><a href="/users/<%=@user.id%>"><%= image_tag @user.image.url(:medium) %></a></div>
      </br>
      <div class="pull-right">
        <%= link_to "Edit", edit_city_post_path(@post.city, @post), class: "btn btn-default btn-primary"%>
        <%= link_to "Delete", city_post_path(@post.city, @post), method: :delete, class: "btn btn-default btn-danger"%>
      </div>
  </div>
  <div class="row post-show-content">
      <%= @post.content %>
  </div>
</div>
