

<%= link_to "Back to Cities", cities_path %>
<div class="jumbotron-show">
  <div class="container-show">
    <h1><%= @city.city_name %></h1>

      <%= image_tag @city.city_picture, class: 'img-responsive' %>

  </div>
</div>

<!-- Creates notice if successful post(post.contoller.create) -->
<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class='row'>
            <div class="col-md-3 col-xs-12 thumbnail">
               <#%= image_tag @user.profile_pic %>
            </div>
            <%= paginate @posts %>
            <% @posts.each do |p| %>
            <div class="col-md-9 col-xs-12">
              <ul class="list-group form-inline">
                <li class="list-group-item">
                  <h4 class='inline-header'>Title:</h4>
                   <%= p.title %>
                </li>

                <li class="list-group-item">
                  <h4 class='inline-header'>Content:</h4>
                  <%= p.content %>
                </li>

                <li class="list-group-item">
                  <h4 class='inline-header'>Date Posted:</h4>
                  <%= p.created_at %>
                </li>
                <% end %>
              </ul>
              <%= link_to "Edit", edit_city_post_path(p.city, p), class: "btn btn-default"%>
              <%= link_to "Delete", city_post_path(p.city, p), method: :delete, class: "btn btn-default"%>
            </div>
          </div>


        </div>
      </div>
    </div>

  <h3><%= @city.city_name %></h3>

  <div>
    <%= form_for [@city, @post] do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: "Content" %>
      </div>
      <%= f.submit "Save Post" %>
    <% end %>
  </div>
