<div class="col-md-8 col-offset-md-2">
  <%= image_tag @city.city_picture, class:"show_picture" %>

  <h3><%= @city.city_name %></h3>

  <div>
    <%= form_for [@city, @post] do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: "Content" %>
      </div>
      <%= f.submit "Save Post" %>
    <% end %>
  </div>

  <div>
    <h4>London's Posts</h4>
    <ul>
      <% @city.posts.each do |p| %>
          <li><strong><%= p.title %></strong>
              <p><%= p.content %></p>
              <p><%= p.user_id %></p>
              <p><%= p.created_at %></p>
          </li>
      <% end %>
    </ul>
  </div>

</div>
