<div>
  <%= image_tag @city.header_picture, class: 'img-responsive' %>
</div>
  <h1 class="city-show-header-title"><%= @city.city_name %></h1>

  <div class="col-xs-6 col-xs-offset-3">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add A Post</h3>
      </div>
      <div class="panel-body">
        <%= form_for [@city, @post] do |f| %>
          <div class="form-field">
            <%= f.text_field :title, required: true, placeholder: "Title" %>
          </div>
          <div class="form-field">
            <%= f.text_area :content, required: true, placeholder: "Content" %>
          </div>
          <div class="form-field">
          <%= f.submit "Post", class: "btn btn-lg btn-success city-show-post-button"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Creates notice if successful post(post.contoller.create) -->
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= paginate @posts %>
    <div class="user-post-container container">
      <% @posts.each do |p| %>
        <div class="col-xs-12">
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <%= link_to image_tag(@user.image), user_path(@user), class: "city-image img-responsive" %>
                    </div>
                    <div class="col-xs-9">
                        <div class="user-show-post-header-row">
                            <h3 class="user-show-post-title"><%= link_to "#{p.title}", city_post_path(p.city, p) %></h3>
                            <h4 class="pull-right user-show-post-date"><small>posted <%= time_ago_in_words(p.created_at) %> ago</small></h4>
                        </div>
                        <div>
                            <p><%=h truncate(p.content, :length => 1000) %></p>
                            <%= link_to "Read More", city_post_path(p.city, p), class:"read-more"%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <a class="user-show-post-button pull-right btn btn-primary" href="/cities/<%=@city.id%>/posts/<%=p.id%>/edit">Edit</a>
                    <%= link_to "Delete", city_post_path(@city.id, p), method: :delete, class: "user-show-post-button pull-right btn btn-default btn-danger"%>
                </div>
            </div>
        </div>
        <% end %>
    </div>
  <%= paginate @posts %>
